@import 'tailwindcss';

@theme {
  --color-primary: #f25a62;
  --color-button-text: #ffffff;
  --color-dark: #033549;
  --color-text: #000000;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: system-ui, -apple-system, sans-serif;
}
